body{
	background-color: #CFD8DC;
}
header{
	background-color: #b71c1c;
}
footer{
	background-color: #263238;
}

#wrapper{
	background-color: #FFFFFF;
}
#header_login{
	margin-top:15px;
}
#content_admin{
	margin-top: 30px;
}

.footer_color h4{
	color: white;
}

.footer_color a{
	color: white;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 
  margin-bottom: 20px;
}

.producto{
	height: 100%;
}

.producto td{
	height: 100%;
}

.img_producto{
	height: 100%;
	position: relative;
}

.img_producto img{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_logo{
	height: 100%;
	position: relative;
}

.img_logo img{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre_producto{
	height: 100%;
	position: relative;
}

.pre_producto_info{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre_producto_info h5{
	text-align: center;
	text-decoration: line-through;
}

.pre_producto_info h2{
	text-align: center;
	color: red;
}

.panel-tecnocom{
	border-color: #D9534F;
}

.panel-tecnocom > .panel-heading{
	background-color: #D9534F;
	color: white;
}
.oferta_producto p{
	text-align: center;
}

.oferta_precio h2{
	color:red;
	text-align: center;
	margin: 0px;
}

.oferta_precio p{
	text-align: center;
	text-decoration: line-through;
	margin: 0px;
}

.panel_index{
	margin-top: 10px;
	margin-bottom: 10px;
}