body{
	background-color: #CFD8DC;
}
header{
	background-color: #D50000;
}
footer{
	background-color: #263238;
}

#wrapper{
	background-color: #FFFFFF;
}
#header_login{
	margin-top:15px;
}

.footer_color h4{
	color: white;
}

.footer_color a{
	color: white;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.producto{
	height: 100%;
}

.producto td{
	height: 100%;
}

.img_producto{
	height: 100%;
	position: relative;
  
}

.img_producto img{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_logo{
	height: 100%;
	position: relative;
}

.img_logo img{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre_producto{
	height: 100%;
	position: relative;
}

.pre_producto_info{
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre_producto_info h3{
	text-align: center;
	text-decoration: line-through;
}

.pre_producto_info h2{
	text-align: center;
	color: red;
}

.panel-tecnocom{
	border-color: #D9534F;
}

.panel-tecnocom > .panel-heading{
	background-color: #D9534F;
	color: white;
}